<section id="quemsomos">
    <h2 class="tituloSection">Quem Somos</h2>

    <div class="section-text">
        <p>A Vettorial é uma empresa especializada em soluções tecnológicas para empresas, criada com o propósito de impulsionar o crescimento, a performance e a transformação digital dos negócios. Atuamos como parceiros estratégicos, oferecendo tecnologia de forma prática, eficiente e personalizada para cada realidade.</p>
    </div>


    <div class="area-box">
        <vettorial-box titulo="Nossa empresa" imagem="/empesa.png" conteudo="{{conteudoEmpresa}}"/>
        <vettorial-box titulo="Serviços" imagem="/servico.png" conteudo="{{conteudoEmpresa}}"/>
        <vettorial-box titulo="Sistemas" imagem="/sistemas.png" conteudo="{{conteudoEmpresa}}"/>
    </div>
</section>