<header class="header">
    <div class="logo">
        <a><img src="./vettorial-semfundo.png" alt="logo Vettorial"></a>
    </div>

    <nav class="desktop_menu" >

    <a href="#quemsomos"><span>Quem Somos</span></a>

    <a href="#servico"><span>Nossos Serviços</span></a>

    <a href="#projetos"><span>Nossos Projetos</span></a>

    <a href="#contatos"><span>Contatos</span></a>
    
    </nav>

    <button class="btn-default">Faça seu orçamento</button>

    <button class="btn-default_mobile">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>
</header>