    <div class="banner">
        <video autoplay loop>
            <source src="/bannervideo.mp4" type="video/mp4">
        </video>
        <div class="content">

            <div class="container-works">
                <h1>Soluções tecnológicas</h1>
                <p>Para empresas em crescimento.</p>
                <div class="container-socials">
                    <button class="btn-default" style="margin: 0px 20px 0px 20px;">Entre em contato</button>
                    <button class="btn-default" style="margin: 0px 20px 0px 20px;">Saiba mais</button>
                </div>
            </div>

            <div class="area-objeto">
                <img src="./VettorialPc.png" alt="logo vettorial">
            </div>

        </div>


    </div>