@keyframes flutuar {
    0% { transform: translateY(10px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(10px); }
}

.banner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.banner .content {
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 0 150px;
    justify-content: space-around;
    align-items: center;
}

.banner .container-works {
    text-align: center;
}

.banner .content h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
}

.banner .content p {
    font-size: 1.5em;
    color: white;
}

.banner .container-socials {
    margin: 20px;
}

.banner .container-socials .btn-default{
    margin: 0px 20px 0px 20px;
}

.banner .content .area-objeto img {
    width: 300px;
    height: 300px;
    animation: flutuar 3s ease-in-out infinite;
}
