@keyframes flutuar {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(10px);
    }
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner ::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.089);
    z-index: -1;
}

.banner .content {
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 0px 150px 0px 150px;
    justify-content: space-around;
    align-items: center;
}

.banner .container-works {
    text-align: center;
}

.banner .content h1 {
    padding: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #ffff;
}

.banner .content p {
    font-size: 1.5em;
    color: #ffff;
}

.banner .content img {
    width: 40px;
    height: 40px;
}

.banner .container-socials {
    margin: 20px;
}

.banner .container-socials .social-icon {
    margin: 0px 10px 0px 10px;
}

.banner .content .area-objeto img {
    width: 300px;
    height: 300px;
    animation: flutuar 3s ease-in-out infinite;
}