*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #0d1625;
}

.btn-default{
    width: fit-content;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #83f20e;
    box-shadow: 0 0px 10px #83f20e;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.btn-default:hover{
    transform: scale(1.05);
}

.sectionNormal{
    margin: 100px 200px;
}

.tituloSection{
    color: #83f20e;
}

.section-text{
    color: white;
    font-weight: bold;
    margin: 30px 100px
}

.tituloSectionInvertido{
    color: white;
}

/* .sectionInvertido{
  padding: 100px 200px;
  background-color: #83f20e;
  position: relative;

  clip-path: polygon(
    0 0,         
    65% 0,      
    72% 25%,    
    100% 25%,   

    100% 100%,  
    28% 100%,   
    20% 75%,    
    0 75%       
  );
} */






