.box {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: 0.2s;
}

.box:hover {
    height: 330px;
    transform: scale(1.1);
}

.box h3 {
    font-size: 22px;
    color: #5D5C5C;
    margin-bottom: 10px;
}

.img-box {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.5s;
}

.content-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 260px;
    width: 100%;
    padding: 0px 30px;
    height: 30px;
    transition: 0.4s;
    text-align: center;
    font-size: 14px;
}

.text {
    overflow: hidden;
}

.box:hover .content-box {
    top: 80px;
    height: 300px;
    transition: 0.5s;
}

.box:hover h3 {
    margin-bottom: -10px;
}

.box:hover .img-box {
    top: -130px;
    scale: 0.75;
    transition: 0.5s;
}

.img-box img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
}


/* Header Celular */
@media (min-width: 300px) and (max-width: 767px) {
    .box {
        width: 250px;
        height: 300px;
        margin: 40px 0px 40px 0px;
    }


    .box:hover {
        height: 330px;
        transform: scale(1.1);
    }

}


/* Header tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    .box {
        width: 350px;
        height: 300px;
        margin: 40px 0px 40px 0px;
    }


    .box:hover {
        height: 330px;
        transform: scale(1.1);
    }
}

/* Header notebook*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .box {
        display: flex;
        justify-content: center;
        width: 260px;
        height: 300px;
        position: relative;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin-left: 20px;
        margin-right: 20px;
        transition: transform 0.1s ease-out;
        transform-style: preserve-3d;
        cursor: pointer;
        transition: 0.2s;
    }


    .box:hover {
        height: 330px;
        transform: scale(1.1);
    }
}